.container{
  width:65%;
  min-height:89vh;
  background: #ffffff;
  margin:10px auto 10px auto !important;
  box-shadow: 0 0 5px 0 rbga(0,0,0,0.5);
  
}
.ql-toolbar.ql-snow {
  display: flex;
  justify-content: center;
  position: sticky;
  top:0;
  z-index:1 ;
  background: #edf2fa;
  border: none !important;
  box-shadow: 0 0 5px 0 rbga(0,0,0,0.5);

}
.text-center.p-3{
  display: flex;
  justify-content: center;
  color: #ffffff;
}